In [1]:
idade1 = 20

In [2]:
idade2 = 35

In [3]:
idade1 + idade2

55

In [4]:
idade1 - idade2

-15

In [5]:
idade1 * idade2

700

In [6]:
idade1 / idade2

0.5714285714285714

In [7]:
idade1 + 10

30

In [8]:
idade1 - 15

5

In [9]:
idade1 * 4

80

In [10]:
idade1 / 5

4.0

In [11]:
2 *(idade1 + idade2)

110

In [12]:
2 * idade1 + 3 * idade2 / 4

66.25

In [13]:
(2 * idade1 + 3 * idade2) / 4

36.25

In [14]:
idade1 ** 2

400

In [15]:
15 ** 2

225

In [16]:
idade2 // idade1

1

In [17]:
idade2 / idade1

1.75

In [18]:
idade2 % idade1

15

In [19]:
nome = 'Camila'
sobrenome = 'Dantas'

In [20]:
print(nome + sobrenome)

CamilaDantas

In [21]:
print(nome + ' '+ sobrenome)

Camila Dantas

In [22]:
print('Olá, ', nome, 'você tem', idade1 + 15, 'anos.')

Olá,  Camila você tem 35 anos.

In [23]:
print('Olá, ', nome, '\n', 'você tem ', idade1 + 15, 'anos.')

Olá,  Camila
 você tem  35 anos.

In [24]:
input('Digite o seu nome: ')

'felipe'

In [25]:
nome = input('Digite o seu nome: ')

In [26]:

nome = input('Digite o seu nome: ')

In [27]:
#mesma coisa acontece aqui
nome = str(input('Digite o seu nome: '))